@-webkit-keyframes animation_testimony {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  25% {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
  50% {
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  75% {
    -webkit-filter: brightness(130%);
            filter: brightness(130%);
  }
  100% {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
}
@keyframes animation_testimony {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  25% {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
  50% {
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  75% {
    -webkit-filter: brightness(130%);
            filter: brightness(130%);
  }
  100% {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
}
@-webkit-keyframes color_testimony {
  to {
    background: linear-gradient(143deg, rgb(254, 117, 101), rgb(247, 211, 4));
    -webkit-box-shadow: -1px 1px 21px 3px rgb(254, 117, 101);
            box-shadow: -1px 1px 21px 3px rgb(254, 117, 101);
  }
  from {
    background: linear-gradient(139deg, rgb(247, 212, 0), rgb(130, 213, 197));
    -webkit-box-shadow: -1px 1px 21px 3px rgba(247, 212, 0, 0.59);
            box-shadow: -1px 1px 21px 3px rgba(247, 212, 0, 0.59);
  }
}
@keyframes color_testimony {
  to {
    background: linear-gradient(143deg, rgb(254, 117, 101), rgb(247, 211, 4));
    -webkit-box-shadow: -1px 1px 21px 3px rgb(254, 117, 101);
            box-shadow: -1px 1px 21px 3px rgb(254, 117, 101);
  }
  from {
    background: linear-gradient(139deg, rgb(247, 212, 0), rgb(130, 213, 197));
    -webkit-box-shadow: -1px 1px 21px 3px rgba(247, 212, 0, 0.59);
            box-shadow: -1px 1px 21px 3px rgba(247, 212, 0, 0.59);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
body header {
  background: url("../../images/mae-mu-1APtYqzNajA-unsplash.png") center/cover;
  height: 800px;
}
body header .menu-burger-nav {
  background-color: #ffffff;
  width: 329px;
  padding-top: 90px;
  position: absolute;
  top: 100px;
  right: 40px;
  display: none;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 13%, 100% 13%, 100% 0, 88% 13%, 0 13%);
          clip-path: polygon(0 100%, 100% 100%, 100% 13%, 100% 13%, 100% 0, 88% 13%, 0 13%);
}
body header .menu-burger-nav ul {
  list-style: none;
}
body header .menu-burger-nav ul li {
  padding: 5px;
  text-align: center;
  padding-top: 39px;
}
body header .menu-burger-nav ul li a {
  text-decoration: none;
  color: rgb(91, 99, 109);
  font-family: "Barlow", sans-serif;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
body header .menu-burger-nav ul .menu-contact-burger a {
  color: black;
  background-color: rgb(250, 212, 0);
  padding: 16px 32px 15px 30px;
  border-radius: 28px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 54px;
}
body header .active {
  display: block;
}
body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header nav .menu-burger i {
  font-size: 24px;
  color: #ffffff;
  display: none;
  margin-right: 32px;
}
@media screen and (max-width: 870px) {
  body header nav .menu-burger i {
    display: inline-block;
    margin-right: 32px;
    margin-top: 32px;
  }
}
body header nav img {
  height: 33px;
  padding-left: 30px;
}
@media screen and (max-width: 870px) {
  body header nav img {
    margin-top: 32px;
  }
}
body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 30px;
  margin: 20px;
}
@media (max-width: 870px) {
  body header nav ul {
    display: none;
  }
}
body header nav ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
body header nav ul .menu-contact a {
  color: black;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 16px 32px 15px 30px;
  border-radius: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body header nav ul .menu-contact a:hover {
  background-color: #77cdf5;
  color: #ffffff;
}
body header h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 56px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 70px;
  letter-spacing: 8.75px;
}
@media screen and (max-width: 990px) {
  body header h1 {
    font-size: 45px;
  }
}
body header .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 95px;
}
body main .solution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "c d";
}
@media screen and (max-width: 990px) {
  body main .solution {
    grid-template-columns: 1fr;
    grid-template-areas: "b" "a" "c" "d";
  }
}
body main .solution .image_eggs {
  background: url(../../images/mae-mu-40NjbC-Q-cw-unsplash.png) center/cover no-repeat;
  height: 700px;
  grid-area: b;
}
body main .solution .image_glass {
  background: url(../../images/mae-mu-GnWKTJlMYsQ-unsplash.png) center/cover no-repeat;
  height: 700px;
  grid-area: c;
}
body main .solution .text {
  margin: auto;
  height: 700px;
}
@media screen and (max-width: 990px) {
  body main .solution .text {
    text-align: center;
    width: 327px;
  }
}
body main .solution .text.text_eggs {
  grid-area: a;
}
body main .solution .text.text_glass {
  grid-area: d;
}
body main .solution .text h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  color: rgb(36, 48, 62);
  letter-spacing: -0.285714px;
  padding-left: 138px;
  padding-right: 138px;
  margin-top: 162.5px;
}
@media screen and (max-width: 990px) {
  body main .solution .text h2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
body main .solution .text p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #808397;
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 50px;
  line-height: 30px;
}
@media screen and (max-width: 990px) {
  body main .solution .text p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main .solution .text a {
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  color: rgb(36, 48, 62);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 135px;
  position: relative;
  z-index: 1;
  margin-bottom: 150px;
}
@media screen and (max-width: 990px) {
  body main .solution .text a {
    margin-left: auto;
    margin-right: auto;
  }
}
body main .solution .text a:hover span {
  opacity: 1;
}
body main .solution .text a .link_yellow {
  height: 5px;
  width: 128px;
  background-color: rgb(250, 212, 0);
  position: absolute;
  border-radius: 5px;
  z-index: -1;
  bottom: 1px;
  left: -5px;
  opacity: 0.25;
}
body main .solution .text a .link_pink {
  height: 5px;
  width: 128px;
  background-color: rgb(254, 119, 102);
  position: absolute;
  border-radius: 5px;
  z-index: -1;
  bottom: 1px;
  left: -5px;
  opacity: 0.25;
}
body main .design {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  font-family: "Fraunces", serif;
}
@media screen and (max-width: 990px) {
  body main .design {
    grid-template-columns: 1fr;
  }
}
body main .design h2 {
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 20px;
}
body main .design p {
  max-width: 300px;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
}
body main .design .fruit_cherry {
  background: url(../../images/mae-mu-vbAEHCrvXZ0-unsplash.png) center/cover no-repeat;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body main .design .fruit_cherry h2 {
  color: rgb(36, 85, 74);
}
body main .design .fruit_cherry p {
  color: rgb(62, 116, 103);
  margin-bottom: 50px;
}
body main .design .fruit_tangerine {
  background: url(../../images/mae-mu-U1iYwZ8Dx7k-unsplash.png) center/cover no-repeat;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body main .design .fruit_tangerine h2 {
  color: rgb(5, 44, 59);
}
body main .design .fruit_tangerine p {
  color: rgb(25, 83, 108);
  margin-bottom: 80px;
}
@media screen and (max-width: 990px) {
  body main .design .fruit_tangerine p {
    margin-bottom: 50px;
  }
}
body main .testimony {
  margin-top: 88.5px;
  margin-bottom: 88.5px;
}
body main .testimony h2 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24.66px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(167, 170, 173);
  text-align: center;
  margin-bottom: 81px;
}
body main .testimony ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 990px) {
  body main .testimony ul {
    display: block;
  }
}
body main .testimony ul li {
  text-align: center;
}
body main .testimony ul li:hover {
  background: linear-gradient(143deg, rgb(254, 117, 101), rgb(247, 211, 4));
  -webkit-box-shadow: -1px 1px 21px 3px rgba(247, 211, 4, 0.59);
          box-shadow: -1px 1px 21px 3px rgba(247, 211, 4, 0.59);
  border-radius: 5px;
  padding-top: 10px;
  -webkit-animation-name: color_testimony;
          animation-name: color_testimony;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body main .testimony ul li img {
  margin-bottom: 58px;
}
body main .testimony ul li img:hover {
  -webkit-animation-name: animation_testimony;
          animation-name: animation_testimony;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body main .testimony ul li .story {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: rgb(91, 99, 109);
  margin-bottom: 69px;
  max-width: 350px;
}
@media screen and (max-width: 990px) {
  body main .testimony ul li .story {
    margin-left: auto;
    margin-right: auto;
  }
}
body main .testimony ul li .name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22.19px;
  color: rgb(36, 48, 62);
  margin-bottom: 9px;
}
body main .testimony ul li .title {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: rgb(167, 170, 173);
  margin-bottom: 139px;
}
body main .banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
}
body main .banner .milk {
  background: url(../../images/Bitmap.png) center/cover;
}
body main .banner .orange {
  background: url(../../images/Bitmap\(1\).png) center/cover;
}
body main .banner .icecream {
  background: url(../../images/Bitmap\(2\).png) center/cover;
}
body main .banner .sugar {
  background: url(../../images/Bitmap\(3\).png) center/cover;
}
@media screen and (max-width: 920px) {
  body main .banner {
    grid-template-columns: 1fr 1fr;
  }
}
body footer {
  text-align: center;
  background-color: rgb(144, 212, 198);
  padding-bottom: 72px;
}
body footer img {
  margin-top: 72px;
  height: 33px;
}
body footer .footer_menu ul {
  list-style: none;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 57px;
}
body footer .footer_menu ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
  color: rgb(69, 141, 126);
}
body footer .footer_menu ul li a:hover {
  color: #ffffff;
}
body footer .menu_socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
  margin-top: 88px;
  list-style: none;
}
body footer .menu_socialMedia ul li a i {
  color: rgb(44, 117, 102);
  height: 20px;
}
body footer .menu_socialMedia ul li a:hover i {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */