@keyframes animation_testimony {
  0% {
    filter: brightness(100%);
  }

  25% {
    filter: brightness(120%);
  }

  50% {
    filter: brightness(140%);
  }

  75% {
    filter: brightness(130%);
  }

  100% {
    filter: brightness(120%);
  }
}

@keyframes color_testimony {
  to {
    background: linear-gradient(143deg, rgb(254, 117, 101), rgb(247, 211, 4));
    box-shadow: -1px 1px 21px 3px rgb(254, 117, 101);
  }

  from {
    background: linear-gradient(139deg, rgb(247, 212, 0), rgb(130, 213, 197));

    box-shadow: -1px 1px 21px 3px rgba(247, 212, 0, 0.59);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;

  header {
    background: url("../../images/mae-mu-1APtYqzNajA-unsplash.png") center/cover;
    height: 800px;

    .menu-burger-nav {
      background-color: $white;
      width: 329px;
      padding-top: 90px;
      position: absolute;
      top: 100px;
      right: 40px;
      display: none;
      clip-path: polygon(
        0 100%,
        100% 100%,
        100% 13%,
        100% 13%,
        100% 0,
        88% 13%,
        0 13%
      );

      ul {
        list-style: none;
        li {
          padding: 5px;
          text-align: center;
          padding-top: 39px;
          a {
            text-decoration: none;
            color: $greyS;
            font-family: $fontB;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .menu-contact-burger a {
          color: $black;
          background-color: $yellow;
          padding: 16px 32px 15px 30px;
          border-radius: 28px;
          font-family: $fontF;
          font-weight: 700;
          font-size: 15px;
          line-height: 25px;
          text-transform: uppercase;
          margin-bottom: 54px;
        }
      }
    }
    .active {
      display: block;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-burger {
        i {
          font-size: 24px;
          color: $white;
          display: none;
          margin-right: 32px;

          @media screen and (max-width: 870px) {
            display: inline-block;
            margin-right: 32px;
            margin-top: 32px;
          }
        }
      }
      img {
        height: 33px;
        padding-left: 30px;

        @media screen and (max-width: 870px) {
          margin-top: 32px;
        }
      }
      ul {
        display: flex;
        list-style: none;
        gap: 30px;
        padding: 30px;
        margin: 20px;

        @media (max-width: 870px) {
          display: none;
        }

        li {
          a {
            text-decoration: none;
            font-family: $fontB;
            font-weight: 600;
            font-size: 18px;
            color: $white;
          }
        }
        .menu-contact a {
          color: $black;
          font-family: $fontF;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase;
          background-color: $white;
          padding: 16px 32px 15px 30px;
          border-radius: 40px;
          transition: 0.3s;
          &:hover {
            background-color: #77cdf5;
            color: $white;
          }
        }
      }
    }
    h1 {
      font-family: $fontF;
      font-weight: 900;
      font-size: 56px;
      text-transform: uppercase;
      color: $white;
      text-align: center;
      margin-top: 70px;
      letter-spacing: 8.75px;

      @media screen and (max-width: 990px) {
        font-size: 45px;
      }
    }
    .arrow {
      display: flex;
      margin: auto;
      margin-top: 95px;
    }
  }
  main {
    .solution {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "a b"
        "c d";

      @media screen and (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "b"
          "a"
          "c"
          "d";
      }

      .image_eggs {
        background: url(../../images/mae-mu-40NjbC-Q-cw-unsplash.png)
          center/cover no-repeat;
        height: 700px;
        grid-area: b;
      }

      .image_glass {
        background: url(../../images/mae-mu-GnWKTJlMYsQ-unsplash.png)
          center/cover no-repeat;
        height: 700px;
        grid-area: c;
      }

      .text {
        margin: auto;
        height: 700px;

        @media screen and (max-width: 990px) {
          text-align: center;
          width: 327px;
        }

        &.text_eggs {
          grid-area: a;
        }

        &.text_glass {
          grid-area: d;
        }

        h2 {
          font-family: $fontF;
          font-weight: 900;
          font-size: 40px;
          color: $blue;
          letter-spacing: -0.285714px;
          padding-left: 138px;
          padding-right: 138px;
          margin-top: 162.5px;

          @media screen and (max-width: 990px) {
            padding-left: 30px;
            padding-right: 30px;
          }
        }

        p {
          font-family: $fontB;
          font-weight: 600;
          font-size: 18px;
          color: $grey;
          max-width: 445px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 32px;
          margin-bottom: 50px;
          line-height: 30px;
          @media screen and (max-width: 990px) {
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        a {
          text-decoration: none;
          font-family: $fontF;
          font-weight: 900;
          font-size: 15px;
          line-height: 25px;
          color: $blue;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-left: 135px;
          position: relative;
          z-index: 1;
          margin-bottom: 150px;

          @media screen and (max-width: 990px) {
            margin-left: auto;
            margin-right: auto;
          }

          &:hover span {
            opacity: 1;
          }

          .link_yellow {
            @include link_color($yellow);
          }

          .link_pink {
            @include link_color($pink);
          }
        }
      }
    }
    .design {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      text-align: center;
      font-family: $fontF;

      @media screen and(max-width: 990px) {
        grid-template-columns: 1fr;
      }

      h2 {
        font-weight: 900;
        font-size: 28px;
        margin-bottom: 20px;
      }

      p {
        max-width: 300px;
        line-height: 27px;
        margin-left: auto;
        margin-right: auto;
      }

      .fruit_cherry {
        background: url(../../images/mae-mu-vbAEHCrvXZ0-unsplash.png)
          center/cover no-repeat;
        height: 700px;
        @include design;

        h2 {
          color: $bluegrey;
        }

        p {
          color: $bluep;
          margin-bottom: 50px;
        }
      }

      .fruit_tangerine {
        background: url(../../images/mae-mu-U1iYwZ8Dx7k-unsplash.png)
          center/cover no-repeat;
        height: 700px;
        @include design;

        h2 {
          color: $blueT;
        }

        p {
          color: $blueTp;
          margin-bottom: 80px;

          @media screen and (max-width: 990px) {
            margin-bottom: 50px;
          }
        }
      }
    }
    .testimony {
      margin-top: 88.5px;
      margin-bottom: 88.5px;
      h2 {
        font-family: $fontF;
        font-size: 20px;
        font-weight: 900;
        line-height: 24.66px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $greydark;
        text-align: center;
        margin-bottom: 81px;
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;

        @media screen and (max-width: 990px) {
          display: block;
        }

        li {
          text-align: center;
          &:hover {
            background: linear-gradient(
              143deg,
              rgb(254, 117, 101),
              rgb(247, 211, 4)
            );
            box-shadow: -1px 1px 21px 3px rgba(247, 211, 4, 0.59);
            border-radius: 5px;
            padding-top: 10px;
            animation-name: color_testimony;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          img {
            margin-bottom: 58px;

            &:hover {
              animation-name: animation_testimony;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }
          .story {
            font-family: $fontB;
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            color: $greyS;
            margin-bottom: 69px;
            max-width: 350px;
            @media screen and (max-width: 990px) {
              margin-left: auto;
              margin-right: auto;
            }
          }
          .name {
            font-family: $fontF;
            font-weight: 900;
            font-size: 18px;
            line-height: 22.19px;
            color: $blue;
            margin-bottom: 9px;
          }
          .title {
            font-family: $fontB;
            font-weight: 600;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: -0.1px;
            color: $greyT;
            margin-bottom: 139px;
          }
        }
      }
    }
    .banner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 500px;

      .milk {
        background: url(../../images/Bitmap.png) center/cover;
      }

      .orange {
        background: url(../../images/Bitmap\(1\).png) center/cover;
      }

      .icecream {
        background: url(../../images/Bitmap\(2\).png) center/cover;
      }

      .sugar {
        background: url(../../images/Bitmap\(3\).png) center/cover;
      }

      @media screen and (max-width: 920px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  footer {
    text-align: center;
    background-color: $green;
    padding-bottom: 72px;

    img {
      margin-top: 72px;
      height: 33px;
    }
    .footer_menu {
      ul {
        list-style: none;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 57px;
        li {
          a {
            text-decoration: none;
            font-family: $fontB;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.13px;
            color: $greenF;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
    .menu_socialMedia {
      ul {
        display: flex;
        justify-content: center;
        gap: 28px;
        margin-top: 88px;
        list-style: none;
        li {
          a {
            i {
              color: $greenL;
              height: 20px;
            }
            &:hover i {
              color: $white;
            }
          }
        }
      }
    }
  }
}
