$white: #ffffff;
$black: black;
$blue: rgba(36, 48, 62, 1);
$grey: #808397;
$yellow: rgba(250, 212, 0, 1);
$pink: rgba(254, 119, 102, 1);
$bluegrey: rgba(36, 85, 74, 1);
$bluep: rgba(62, 116, 103, 1);
$blueT: rgba(5, 44, 59, 1);
$blueTp: rgba(25, 83, 108, 1);
$greydark: rgba(167, 170, 173, 1);
$greyS: rgba(91, 99, 109, 1);
$greyT: rgba(167, 170, 173, 1);
$green: rgba(144, 212, 198, 1);
$greenF: rgba(69, 141, 126, 1);
$greenL: rgba(44, 117, 102, 1);

$fontF: "Fraunces", serif;
$fontB: "Barlow", sans-serif;

@mixin link_color($color) {
  height: 5px;
  width: 128px;
  background-color: $color;
  position: absolute;
  border-radius: 5px;
  z-index: -1;
  bottom: 1px;
  left: -5px;
  opacity: 0.25;
}

@mixin design {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
